@use "_variables.scss";

header {
  @include row;
  height: 3em;
  width: 80%;
  padding-left: 5em;
  background-color: variables.$user-activity-bg-color;

  .userNavBar {
    @include row;
    align-items: center;
    width: 100%;
    border-right: 1.5px solid variables.$border-color;
  }
  span:nth-of-type(1) {
    font-weight: bold;
    margin-right: 0.5em;
  }
}

.panel {
  width:100%;
  background-color: variables.$background-color;

  .myAccountPanel {
    width: 90%;
    @include row;
    justify-content:left;
    padding-top: 1.2em;
    padding-left: 3.5em;

  }
}

@media only screen and (max-width: 580px) {
  header {
    height: 2em;
    padding-left: 3em;
  }
  .sideBarMenu {
    width: 2em;
  }
}
