@use "_variables.scss";

.relevanceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin: 0em;
    padding-bottom: 0.5em;
  }
  .relevanceCards {
    @include row;
    justify-content: space-between;
  }
}
.relevanceCard {
  width: 7.5em;
  height: 10em;
  margin-right: 1em;
  border: 1.5px solid variables.$border-color;
  border-radius: 3px;
  background-color: variables.$user-activity-bg-color;
  padding: 0.5em;
  overflow: hidden;
  cursor: pointer;

  .cover img {
    height: 100%;
    width: 100%;
  }

  .row {
    p {
      font-size: 0.5rem;
    }
  }
}
